<!DOCTYPE html>
<html lang="en">
	<!--- head.html-->{% include 'head.html' %}
<body data-spy="scroll" data-target="#navbarResponsive">

<div id="home">
	<!--- nav.html -->{% include 'nav.html' %}
	<!--- landing.html -->{% include 'landing.html' %}
	<!--- caption.html -->{% include 'caption.html' %}
	<!--- arrow.html -->{% include 'arrow.html' %}
</div>

<div id="about" class="offset">
	{% include 'about.html' %}
</div>

<div id="features" class="offset">
	<!--- animation.html -->{% include 'animation.html' %}
	<!--- jumbotron.html -->{% include 'jumbotron.html' %}
	<!--- fixed.html -->{% include 'fixed.html' %}
</div>


<div id="projects" class="offset">
	{% include 'projects.html' %}
</div>

<div id="publications" class="offset">
	{% include 'publications.html' %}
</div>

<!--- Start Contact Section -->
<div id="contact" class="offset">
	<!--- contact.html -->{% include 'contact.html' %}
</div>
<!--- End Contact Section -->

<!--- Top Scroll -->
<a href="#home" class="top-scroll">
	<i class="fas fa-angle-up"></i>
</a>
<!--- End of Top Scroll -->

<!--- Script Source Files -->
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js')}}"></script>
<script src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename='js/waypoints.js')}}"></script>
<script src="{{url_for('static', filename='js/lightbox.js')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.counterup.js')}}"></script>
<script src="{{url_for('static', filename='js/validator.js')}}"></script>
<script src="{{url_for('static', filename='js/contact.js')}}"></script>
<!--- End of Script Source Files -->

</body>
</html>