	
<div class="row padding">

	<div class="col-12 os-animation" data-animation="fadeInUp">
		<h3 class="heading">Projects</h3>
		<div class="heading-underline"></div>
	</div>

</div> <!--- End Row -->

<!--- Start Portfolio Grid -->
<div class="container-fluid">
<div class="row no-padding">
	
	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/1.png') }}" data-lightbox="example-set" data-title="My Portfolio Image Description">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/1.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/2.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/2.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/3.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/3.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/4.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/4.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/5.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/5.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/6.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/6.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/7.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/7.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
		<div class="portfolio-item">
			<a href="{{ url_for('static', filename='img/portfolio/8.png') }}" data-lightbox="example-set">
				<img class="example-image" src="{{ url_for('static', filename='img/portfolio/8.png') }}" alt="">
			</a>
		</div>
	</div>
	</div>

</div> <!--- End Row -->
</div> <!--- End Container -->
<!--- End Portfolio Grid -->

<div class="os-animation" data-animation="fadeInUp">
    <div class="narrow text-center">
        <div class="col-12">
            <p class="lead">Get in contact with us to see more of our great portfolio design work in addition to web development projects such as websites, apps and more!</p>
            <a class="btn btn-secondary btn-sm" href="#contact">Get In Touch</a>
        </div>
    </div>
</div>